*{
  font-size:16px;
  font-family: Raleway, sans-serif;
  color:#e2e2e2;
  line-height:1.2;
}
.block__image{
  background-image: url('coffetable.jpg');
  repeat:no-repeat;
  background-size: cover;
  height:100vh;
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
}
body, h3, ul{
  margin: 0;
  padding:0;
}
ul{
  margin:4rem;

  list-style-type: none;
}
 li a{
   text-decoration: none;
   font-weight: 500;
 }
 li{
   margin-top:1.25rem;
 }
 a:hover{
   color:#fff;
 }
h3{
  font-size:2rem;
}
.block__image__paragraph{
display:none;
}
